body {
    background-color: rgb(102, 73, 40);
    font: normal 20pt arial;

}

header {
color: rgb(255, 255, 255);
text-align: center;

}

section {
    background-color: rgb(229, 197, 128);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
text-align: center;
}
#foto{
width:300px;
border-radius: 200px;
height: 300px;
object-fit: cover;
}
#res{
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}
